{% extends 'student/studentbase.html' %}
{% block content %}
{%load static%}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


</head>
<br><br>
<div class="container my-4">
    <div class="jumbotron">

        <div class="row">

            <div class="card border-info mx-4 my-4">
                <div class="card-body text-default">

                    <h4 class="card-title">Sınav Detayları :</h4>
                    <p class="card-text">
                        </p><ul style="list-style:decimal;">
                            <li>Ders : {{course.course_name}}</li>
                            <li>Toplam Soru : {{total_questions}}</li>
                            <li>Toplam Puan : {{total_marks}}</li>
                        </ul>
                    <p></p>



                    <h4 class="card-title">Kurallar :</h4>
                    <p class="card-text">
                        </p><ul style="list-style:decimal;">
                            <li>Tüm sorular ÇSS'dir (çoktan seçmeli soru)</li>
                            <li><span class="text-danger">Verilen seçeneklerden sadece bir tanesi doğrudur.</span></li>
                            <li>Her soru farklı işaretler taşır.</li>
                            <li></li>
                            <li>Yenile'ye basarsanız veya bir önceki sayfaya dönerseniz, sizin için yeni bir soru olacak ve üzerinde bulunduğunuz soru deneme sayısı olarak sayılacaktır.</li>
                            <li>Sorular rastgele sunulur.</li>
                            <li>Cevabı gönderdikten hemen sonra işaretleri görebileceksiniz.</li>
                        </ul>
                    <p></p>
                    <a href="{% url 'start-exam' course.id  %}" class="btn btn-success" style="border-radius:0px;">Sınava Gir</a>
                </div>  
                <div class="card-footer">İyi Şanslar!</div>  
            </div>  
        </div>  

    </div>
</div>

<br><br><br><br><br><br>
{% endblock content %}